a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

a:focus,
a:hover {
    color: rgb(37, 37, 37);
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: rgb(20, 20, 20);
    text-shadow: none;
    /* Prevent inheritance from `body` */
    background-color: rgb(0, 0, 0);
    border: .05rem solid rgb(0, 0, 0);
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(0, 0, 0, 0.25);
}

.nav-masthead .nav-link+.nav-link {
    margin-left: 1rem;
}