<header class="masthead mb-auto">
    <h3 class="masthead-brand">Admin Mode</h3>
</header>

<div class="inner">

    <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" [routerLink]="[ '/Menu']">Home</a>
        <a class="nav-link" [routerLink]="[ '/ProductoRegistrar']">agregar producto</a>
        <a class="nav-link" [routerLink]="[ '/personaConsulta']">Ver pedidos</a>
        <a class="nav-link" [routerLink]="[ '/ProductoMostrar']">Ver productos</a>
        <a class="nav-link" [routerLink]="[ '/ProductoEliminar']">Eliminar producto</a>
        <a class="nav-link" [routerLink]="[ '/Productoctualizar']">Actualizar productos</a>
    </nav>
</div>

<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

        <main role="main" class="inner cover"><br>
            <h1 class="cover-heading">Bienvenido Admin</h1>
        </main>


    </div>
</body>